
<html>

    <head>
    
    <title>헬로앤츠 지니고</title>
    
    <style type="text/css">
    
    button {
    
    width: 500px;
    
    height: 50px;
    
    }
    
    </style>
    
    </head>
    
    <body>
    
    <a href="/second/what"><button>두번째 페이지로 이동</button></a>
    
    </body>
    
    
    </html>