<html>

<head>

<title>헬로앤츠 지니고</title>

<style type="text/css">

button {

width: 500px;

height: 50px;

}

</style>

</head>

<body>

<a href="/"><button>첫번째 페이지로 이동</button></a>

<br>

<input type="text" value="<%= data %>"/>


</body>


</html>

